body{
    background-color: #1B1464;
}

.Poke{
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 65rem;
}

table{
    margin-left: auto;
    margin-right: auto;
    column-count: 3;
}

.conteneur{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 20rem;
    align-items: center;
    display: block;
    border-radius: 20px;
    background: #F79F1F;
}

.type{

}

.conteneurImg{
    padding: 5px;
    margin-bottom: 0%;
    /* border: 1px solid green; */
    border-radius: 20px;
    height: 15rem;
}

.image{
    margin-left: 10%;
    margin-top: 10%;
    /* margin-top: 10rem; */
    /* border: 1px solid violet; */
    height: 80%;
    width: 75%;
}